# POSTGRES

## GLOBAL CONFIGURATION FOR POSTGRES DBs
POSTGRES_USER=YOUR_POSTGRES_USER_HERE
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD_HERE

# USER SERVICE DB

USER_SERVICE_HOST_DB=YOUR_USER_SERVICE_DB_HOST_HERE
USER_SERVICE_POSTGRES_PORT=5432
USER_SERVICE_DB=YOUR_USER_SERVICE_DB_NAME_HERE

USER_SERVICE_CONNECTION_STRING="Host=${USER_SERVICE_HOST_DB};Port=${USER_SERVICE_POSTGRES_PORT};Database=${USER_SERVICE_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"

# INVENTORY SERVICE DB

INVENTORY_SERVICE_HOST_DB=YOUR_INVENTORY_SERVICE_DB_HOST_HERE
INVENTORY_SERVICE_POSTGRES_PORT=5433
INVENTORY_SERVICE_DB=YOUR_INVENTORY_SERVICE_DB_NAME_HERE

INVENTORY_SERVICE_CONNECTION_STRING="Host=${INVENTORY_SERVICE_HOST_DB};Port=${INVENTORY_SERVICE_POSTGRES_PORT};Database=${INVENTORY_SERVICE_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"

# PAYMENT SERVICE DB

PAYMENT_SERVICE_HOST_DB=YOUR_PAYMENT_SERVICE_DB_HOST_HERE
PAYMENT_SERVICE_POSTGRES_PORT=5434
PAYMENT_SERVICE_DB=YOUR_PAYMENT_SERVICE_DB_NAME_HERE

PAYMENT_SERVICE_CONNECTION_STRING="Host=${PAYMENT_SERVICE_HOST_DB};Port=${PAYMENT_SERVICE_POSTGRES_PORT};Database=${PAYMENT_SERVICE_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}"



# RABBITMQ CONFIGURATION

RABBITMQ_HOST=YOUR_RABBITMQ_HOST_HERE
RABBITMQ_VHOST=YOUR_RABBITMQ_VHOST_HERE
RABBITMQ_USER=YOUR_RABBITMQ_USER_HERE
RABBITMQ_PASS=YOUR_RABBITMQ_PASSWORD_HERE
RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_CONNECTION_STRING="rabbitmq://${RABBITMQ_HOST}:${RABBITMQ_PORT}${RABBITMQ_VHOST}"
