# STRIPE

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY_HERE
STRIPE_SUCCESS_URL="http://localhost:3000/payment/success-payment"
STRIPE_FAILED_URL="http://localhost:3000/payment/failed-payment"

# FIREBASE

AUTH_PROJECT_ID="YOUR_FIREBASE_PROJECT_ID_HERE"
AUTH_JWT_AUTHORITY="https://securetoken.google.com/${AUTH_PROJECT_ID}"
AUTH_JWT_AUDIENCE="${AUTH_PROJECT_ID}"
AUTH_JWT_VALIDATION_URL="https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=YOUR_FIREBASE_API_KEY_HERE"

FIREBASE_CREDENTIALS='{
  "type": "service_account",
  "project_id": "YOUR_FIREBASE_PROJECT_ID_HERE",
  "private_key_id": "YOUR_PRIVATE_KEY_ID_HERE",
  "private_key": "YOUR_PRIVATE_KEY_HERE",
  "client_email": "YOUR_FIREBASE_CLIENT_EMAIL_HERE",
  "client_id": "YOUR_FIREBASE_CLIENT_ID_HERE",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "YOUR_CLIENT_X509_CERT_URL_HERE",
  "universe_domain": "googleapis.com"
}'

# ROUTES

INVENTORY_SERVICE_ROUTE="http://YOUR_API_GATEWAY_HOST_HERE:8080/api/inventory/"
API_GATEWAY_ROUTE="http://YOUR_API_GATEWAY_HOST_HERE:8080/api"

# EMAIL

EMAIL_USERNAME=YOUR_EMAIL_USERNAME_HERE
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD_HERE
EMAIL_SERVICE=smtp.gmail.com
EMAIL_PORT=587

# FRONTEND

ADMIN_PANEL_URL="http://localhost:3000/store"
